body 
{
     font-family: Gill Sans, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     background-color: rgb(33, 102, 180);
     background-size: 2000px;
     text-align: center;
}