body 
{
     font-family: Gill Sans, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     background-color: rgb(101, 205, 231);
     text-align: center;
     img 
     {
          vertical-align:bottom;
          border: 3px solid rgb(3, 36, 75);
          border-radius: 5%;
          image-rendering: crisp-edges;
          max-width: 400px;
          height: 500px;
     }
     .column_1 
     {
          float: left;
          width: 48.9%;
          padding: 5px;
     }
     .row::after 
     {
          content: "";
          clear: both;
          display: table;
     }
     .column_2
     {
          float: left;
          text-align: justify;
          width: 42.25%;
          padding: 35px;
     }
}