body 
{
     font-family: Gill Sans, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     background-color: rgb(4, 39, 233);
     text-align: center;
     img 
     {
          vertical-align:bottom;
          border: 3px solid grey;
          border-radius: 5%;
          max-width: 500px;
          height: 500px;
     }
     .column_1 
     {
          float: left;
          width: 45.0%;
          padding: 23px;
     }
     .row::after 
     {
          content: "";
          clear: both;
          display: table;
     }
     .column_2
     {
          float: left;
          text-align: justify;
          width: 45%;
          padding: 23px;
     }
}
   